@import "tailwindcss";


@keyframes fade-in-slide {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-slide {
    animation: fade-in-slide 0.3s ease-out forwards;
  }
  